<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Blog")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Blog")}</%block>
        </h1>
        <p>
           This page is in contruction. Whilst we are working on this, please use our blog page on the <a href="https://www.3imoox.org/blog">3iMOOX website</a>.
        </p>
    </section>
</main>