<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            FAQ
        </h1>
        
        <h2>About the platform and how to use it
        </h2>

        <p> 3iMOOX courses run on the open edX platform. If you have any questions about the platform, how it works and or how to create an account, please find 
            extensive guidance on the <a href="https://edx.readthedocs.io/projects/edx-guide-for-students/en/latest/SFD_introduction.html">edX Learners' Guide</a>
        </p>

        <h2>About 3iMOOX.org</h2>
        
        <p>If you like to know more about us please visit <a href="https://www.3imoox.org/">our website</a> or get in touch with us via email: contact@3imoox.org.</p>
        <p>For questions about the delivery of the 3iMOOX courses, any course specific course related questions and or certificates, etc please see the FAQ page of 
            the relevant MOOC.
        </p>

        <h2>About the Brahma Kumaris Australia</h2>
        
        <p>If you have any questions about our partner, the Brahma Kumaris Australia, please visit <a href="https://brahmakumaris.org.au/">their website</a> for 
            more information.</p>

        <p>If you need futher assistance, please email us: contact@3imoox.org.</p>

    </section>
</main>