<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            Honor Code
        </h1>
        <h2>Collaboration Policy</h2>
        <p>
            By enrolling in a course on 3iMOOX, you are joining a special worldwide community of learners. Our aspiration is to provide anyone with an 
            internet connection access to courses that empower the individual and to provide our learners the best educational experience internet technology 
            enables. You are a part of the community that will help 3iMOOX achieve this goal. 3iMOOX depends upon your motivation to learn the material and 
            to do so with honesty and integrity. In order to participate in 3iMOOX, you must agree to the Honor Code below and any additional terms specific 
            to a course or program. This Honor Code, and any additional terms, will be posted on each course website.
        </p>
        <h2>Honor Code Pledge</h2>
        <p>
            By enrolling in a 3iMOOX course or program, you agree that you will:
        </p>
        <ul>
            <li>Complete all tests and assignments on my own, unless collaboration on an assignment is explicitly permitted.</li>
            <li>Maintain only one user account and not let anyone else use my username and/or password.</li>
            <li>Not engage in any activity that would dishonestly improve my results, or improve or hurt the results of others.</li>
            <li>Not post answers to problems that are being used to assess learner performance.</li>
        </ul>
        <h2>Violations</h2>

        <p>If you are found in violation of the Terms of Service or Honor Code, you may be subject to one or more of the following actions:</p>
        <ul>
            <li>Receiving a zero or no credit for an assignment;</li>
            <li>Having any certificate earned in the course or program withheld or revoked;</li>
            <li>Being unenrolled from a course or program; or</li>
            <li>Termination of your use of the 3iMOOX Site.</li>
            <li>Additional actions may be taken at the sole discretion of 3iMOOX and its partners.</li>
        </ul>
        <p>Honor Code violations will be determined at the sole discretion of 3iMOOX Members. You will be notified if a determination has been made 
            that you have violated this Honor Code and you will be informed of the corresponding action to be taken as a result of the violation.
        </p>
        <h2>Changing the Honor Code</h2>
        <p>Please note that we review and may make changes to this Honor Code from time to time. Any changes to this Honor Code will be effective 
            immediately upon posting on this page, with an updated effective date. By accessing the 3iMOOX Site after any changes have been made, 
            you signify your agreement on a prospective basis to the modified Honor Code and any changes contained therein. Be sure to return to 
            this page periodically to ensure familiarity with the most current version of this Honor Code.
        </p>

        <p><b>Effective Date:</b> 1 September 2019</p>
    </section>
</main>