<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            Privacy Policy
        </h1>
        <p>
            Welcome to 3iMOOX.org, a charitable organisation registered in The Netherlands (RSIN 859487544). 3iMOOX.org partners with other organisations to design, 
            develop and deliver Massive Open Online Courses (MOOCs) on meditation and related topics.
        </p>
        <p>3iMOOX is solely responsible for the operation and the courses offered through this website. We care about the confidentiality and security of your 
            information. This Privacy Policy applies to information that 3iMOOX collects through this Site when you interact with this site and with other users. 
            Your information is received and controlled by 3iMOOX according to this Privacy Policy when you sign up for an account or otherwise use this Site. If you 
            do not accept the terms of this Privacy Policy, then please do not access, browse, or register for this Site or enroll in any courses. If you choose not to
            provide certain information required to provide you with various products and services offered on this Site, then you may not be able to establish a user 
            account or obtain those products or services.</p>
        <p id="T">This Privacy Policy is organized as follows:</p>
        <ol>
            <li><a href="#T1">INFORMATION THAT 3iMOOX COLLECTS FROM YOU (INCLUDING PERSONAL INFORMATION)</a></li>
            <li><a href="#T2">HOW YOUR INFORMATION IS USED</a></li>
            <li><a href="#T3">HOW YOUR INFORMATION IS SHARED</a></li>
            <li><a href="#T4">HOW TO MANAGE YOUR PERSONAL INFORMATION</a></li>
                <ul>
                    <li><a href="#T5">Access and correct your Personal Information</a></li>
                    <li><a href="#T6">Restrict or object to the processing of Personal Information</a></li>
                    <li><a href="#T7">Delete account and Personal Information</a></li>
                </ul>
            <li><a href="#T8">STORAGE & SECURITY</a></li>
            <li><a href="#T9">PRIVACY POLICY UPDATES</a></li>
            <li><a href="#T10">CONTACT INFORMATION</a></li>
        </ol>
        <h2 id="T1">1. INFORMATION THAT 3iMOOX COLLECTS FROM YOU (INCLUDING PERSONAL INFORMATION)</h2>
        <p>
            3iMOOX directly collects information when you:</p>
        <ul>
            <li>sign up for a user account and create a user profile;</li>
            <li>enroll and participate in online courses;</li>
            <li>send email messages to 3iMOOX (including messages to learner support);</li>
            <li>participate in user surveys; and</li>
            <li>participate in public forums, webinars, and other interactive experiences on this Site.</li>
        </ul>
        <p>3iMOOX requires your Personal Information only in limited circumstances when you sign up for a user account (name, username, email address).</p>
        <p><b>To the extent that 3iMOOX associates the information that 3iMOOX collects directly or indirectly with an individual (for example, you), the association is 
            based on Personal Information in your account profile.</b></p>
        <p>You may voluntarily choose to share additional Personal Information on this Site, for example:</p>
        <ul>
            <li>in your account profile (and you may display a limited or full profile to other Site users);</li>
            <li>when participating in a course, forum, webinar, or other interactive experience on this Site (noting that in some cases, this information is shared with 
                a third party that provides tools or other assistance for this Site or a course).</li>
        </ul>
        <p>We encourage you to use discretion before voluntarily sharing additional Personal Information on this Site. (If you later choose to delete your account, 
            deletion of your Personal Information will be subject to the process and limits outlined below.)</p>
        <p>3iMOOX uses Cookies and other Tracking Technologies for the following purposes:</p>
        <ul>
            <li>when necessary for system administration, security, and integrity to ensure this Site works properly for you. Without these technologies, this Site may 
                not function correctly;</li>
            <li>to enable analytics, performance and functionality, to help 3iMOOX gather information about how visitors use this Site and monitor the Site performance, 
                and to enhance your experience by recognizing and remembering whether you have visited this Site before and may have any personal preferences.</li>
        </ul>
        <p>You have some options for managing Cookies and other Tracking Technologies. These include:</p>
        <ul>
            <li>Modifying your browser settings: You should be able to control how and whether your web browser accepts Cookies by adjusting its privacy and security 
                settings. The “help” feature of the menu bar on most browsers will tell you how to stop accepting new Cookies, how to receive notification of new Cookies, 
                and how to disable existing Cookies. If you reject ’s Cookies, many functions and conveniences of this Site may not work properly.</li>
        </ul>
        <p><a href="#T">Go to Top</a></p>

        <h2 id="T2">2. HOW YOUR INFORMATION IS USED</h2>

        <p>3iMOOX uses information, including Personal Information, to carry out the following purposes:</p>
        <ul>
            <li>Operate and improve this Site – This includes creating and improving features that support this community and enable this Site usage at scale. This 
                also includes personalizing this Site, so your learning experience is tailored to your interests and needs.</li>
            <li>Create, administer, provide, and teach courses – This includes creating and improving the delivery of massive open online courses and programs. This 
                also includes personalizing courses, so your learning experience is tailored to your interests and needs and assessing your performance and awarding 
                certificates.</li>
            <li>Offer and improve products and services – This includes enabling you to navigate this Site, to enroll and participate in courses and programs on this 
                Site, to learn effectively in such courses and programs, and to purchase or obtain products and services on this Site.</li>
            <li>Develop and maintain the security and performance of this Site – This includes tracking Site outages and creating software solutions, detecting 
                violations of the Honor Code and Terms of Service, and monitoring uses, misuses, and potential misuses of this Site.</li>
            <li>Communicate with you – This includes answering your course and platform questions, notifying you of course and  Site maintenance and updates, marketing to 
                you about course offerings, programs, news, and related products and services of 3iMOOX or 3iMOOX affiliates, and as permitted under applicable law, 
                sending you communications about products or services of selected business partners that may be of interest to you.</li>
            <li>Support scientific research including, for example, in the areas of cognitive science and education – This includes collaborating to enable and conduct 
                research about how learners’ access and master course materials online, with the goal of improving course outcomes.</li>
            <li>Track Site usage against goals and mission – This includes performing analytics to evaluate access to and performance in courses and course-related 
                products and services and to report aggregate usage information (not Personal Information) to business partners and external audiences.</li>
            <li>Exercise, enforce, and comply with legal rights and obligations – This includes responding to subpoenas, court orders, or other legal process; and 
                investigating, preventing, or taking action regarding illegal activities, suspected fraud, security or technical issues, or to protect the rights, 
                property, or safety of 3iMOOX or others, and as otherwise required by applicable law.</li>
        </ul>
        <p>3iMOOX may also seek your consent for additional uses of information, including Personal Information, and will use it only for the purpose described to you. 
            All use of Personal Information is subject to applicable law.</p>
        <p><a href="#T">Go to Top</a></p>

        <h2 id="T3">3. HOW YOUR INFORMATION IS SHARED</h2>

        <p>3iMOOX may share information, including Personal Information, with third parties for the following purposes:</p>
        <ul>
            <li>With service providers, contractors, and other third parties that help carry out the uses described above – 3iMOOX requires third parties to: 
                    <ol>
                        <li>abide by this Privacy Policy and applicable law;</li>
                        <li>handle Personal Information in a confidential manner and maintain adequate security; and</li> 
                        <li>use Personal Information only as needed to fulfill the relevant purpose(s).</li>
                        </ol>
                    In some cases, this Site and individual courses are integrated with third-party services or contain links to websites published by third parties, 
                    including other content providers as well as service providers. These third parties are responsible for their own privacy practices, so you should 
                    pay attention anytime you are redirected to a third-party website and be sure to review its privacy policy.</li>
            <li>With other learners in courses that you take and with other visitors to this Site, to create an interactive learning environment, support class 
                participation, and share course information – This includes sharing comments, coursework, or other information or content that you submit to a portion 
                of this Site designed for viewing by other class members or for public communication. This also includes providing opportunities for you to communicate 
                with other users who may have similar interests or educational goals, for instance, recommending specific study partners or connecting potential student 
                mentees and mentors. In such cases, 3iMOOX may use all information collected about you to determine who might be interested in communicating with you but 
                will only provide others your username (for clarity, no disclosure of your real name or email address).</li>            
            <li>With affiliates of 3iMOOX for their use consistent with this Privacy Policy. 3iMOOX may also seek your consent for additional disclosures of information, 
                including Personal Information, and will share it only as described to you. In addition, 3iMOOX or Partner may share with the public and with third 
                parties, including but not limited to researchers and business partners, information and Personal Information that is de-identified or aggregated in a 
                manner that does not personally identify you.</li>            
        </ul>
        <p><a href="#T">Go to Top</a></p>

        <h2 id="T4">4. HOW TO MANAGE YOUR PERSONAL INFORMATION</h2>

        <p>You can manage your Personal Information through learner features on this Site and requests to this learner support team. 3iMOOX will provide support to the 
            extent required by applicable law (for example, learners in the European Union) and more broadly when possible, as a courtesy in our sole discretion. 3iMOOX 
            will notify you in the event that 3iMOOX is unable to meet a request that is not legally required.</p>
            <h3 id="T5">Access and correct your Personal Information</h3>
            <p>Much of your Personal Information is available in your account. Your name, email address, and other identifiable profile information is editable through 
                the profile settings in your account except as noted below. Your account dashboard lists all current and archived courses in which you have enrolled. 
                The dashboard also contains copies of your answers and other participation and performance in courses.</p>
            <p>Please contact learner support to access and update this or other information.</p>
            <p>Exceptions:</p>
            <ul>
                <li>Usernames cannot ever be changed. This is an open-edx supplier system restriction. Because usernames identify you in courses and elsewhere on this 
                    Site, 3iMOOX encourages you to use discretion in choosing your username. If you want to protect your identity, do not use your real name or a name 
                    identifiable to you as your username.</li>
                <li>3iMOOX does not track or index every time or every place on this Site when or where a learner may volunteer Personal Information, so 3iMOOX will 
                    not be able to help you locate or manage all such instances. 3iMOOX encourages you to use discretion before volunteering Personal Information on 
                    this Site.</li>
            </ul>
            <p><a href="#T">Go to Top</a></p>

            <h3 id="T6">Restrict or object to the processing of Personal Information</h3>
            <p>If you want to manage emails and other communications to you, you may update your preferences in your account dashboard, follow the steps described in 
                links at the bottom of email messages, or contact learner support. You may object to, or request that 3iMOOX’s use of your Personal Information for 
                other purposes by contacting this learner support team. Please note that if you choose to restrict 3iMOOX’s ability to process Personal Information, 
                and the processing is otherwise required to provide you with various services and products offered on this Site, you may not be able to establish a 
                user account or enroll for a course, and 3iMOOX may not be able to provide you with those services or products.</p>
            <p><a href="#T">Go to Top</a></p> 

            <h3 id="T7">Delete account and Personal Information</h3>
            <p>To request deletion of your account and Personal Information, you should click the button labeled “Delete my account” in your account settings. 
                Because deletion on this system is a permanent action and cannot be reversed, 3iMOOX may ask you to complete a process that aims to confirm your 
                authority to manage this account affected by your request.</p>
                <p>With respect to your account, 3iMOOX will permanently:</p>
                <ul>
                    <li>deactivate your account,</li>
                    <li>remove the active profile,</li>
                    <li>retire your username, and</li>
                    <li>remove you from email lists.</li>
                </ul>
            <p>With respect to your Personal Information, 3iMOOX will permanently delete your account profile Personal Information from this Site. As noted above, to 
                the extent that 3iMOOX associates the information that it collects directly or indirectly with an individual (for example, you), the association is 
                based on Personal Information in your account profile. By erasing the Personal Information in your account profile, the remaining information about 
                your activity on this Site will no longer be associated with you, except as noted below. These changes will be applied to data stores that are used 
                for operation of this Site.</p>
            <p>Exceptions:</p>
            <ul>
                <li>Deletion will not apply to historical activity logs or archives unless and until these logs and data naturally “age-off” this system.</li>
                <li>3iMOOX does not track or index every time or every place on this Site when or where a learner may volunteer Personal Information, so 3iMOOX will 
                    not be able to help you locate or manage all such instances. 3iMOOX encourages you to use discretion before voluntarily sharing your Personal 
                    Information on this Site.</li>
                <li>3iMOOX will archive course data (in a manner and to the extent permitted under applicable law) to serve its mission to enable scientific research 
                    on cognitive science and education.</li>
                <li>3iMOOX cannot always delete records of past interactions and transactions. For example, records relating to previous activities on this Site 
                    must be retained for financial reporting, audit, and compliance reasons.</li>
                <li>●	3iMOOX and each Member will retain and use Personal Information as necessary to comply with its legal obligations, resolve disputes, enforce 
                    its agreements, and as otherwise permitted by applicable law.</li>
            </ul>
            <p>Data retention 3iMOOX will retain your Personal Information for as long as your account is active or as needed to provide you with services; to maintain 
                a record of your transactions for financial reporting, audit, and compliance purposes; and to comply with 3iMOOX’s legal obligations, resolve disputes, 
                enforce its agreements, and as otherwise permitted by applicable law. Upon your request that 3iMOOX deactivate your account and delete your information, 
                3iMOOX will follow the process described above, including without limitation archiving your course data (in a manner and to the extent permitted under 
                applicable law) to serve its mission to enable scientific research on cognitive science and education.</p>
        <p><a href="#T">Go to Top</a></p>
        
        <h2 id="T8">4. STORAGE & SECURITY</h2>

        <p>3iMOOX stores information, including Personal Information, on its own servers and also on servers of companies that 3iMOOX hires to provide services. 
            In each case, information may be stored in the countries where 3iMOOX operates, and in countries where 3iMOOX service providers operate. If you are in 
            the European Union, Switzerland, or other regions with laws governing data collection and use, you acknowledge that 3iMOOX may transfer, process and 
            store your personal information in other countries, the privacy laws of which may be considered less strict than those of your region.</p>
        <p>3iMOOX controls its own copy of information collected through this Site and has an information security program designed to protect information in its 
            possession or control. This is done through a variety of privacy and security policies, processes, and procedures. 3iMOOX uses administrative, physical, 
            and technical safeguards that reasonably and appropriately protect the confidentiality, integrity, and availability of the information that it collects, 
            receives, stores, or transmits. Nonetheless, no method of transmission over the Internet, or method of electronic storage, is 100% secure; and therefore, 
            3iMOOX cannot guarantee its absolute security. While 3iMOOX works hard to ensure the integrity and security of its network and systems, 3iMOOX cannot 
            guarantee that its security measures will prevent “hackers” or other unauthorized persons from illegally accessing or obtaining information.</p> 
            <p>If 3iMOOX learns of a security breach involving its copy of your Personal Information, 3iMOOX may attempt to notify you electronically so that you may take 
            appropriate protective steps. By using this Site or providing Personal Information to us, you agree that 3iMOOX can communicate with you electronically 
            regarding security, privacy, and administrative issues relating to your use of this Site. If a security systems breach occurs, 3iMOOX may post a notice 
            on this homepage (www.onlinelearning.brahmakumaris.org) or elsewhere on this Site and may send an email to you at the email address associated with your 
            account.</p>
        <p>Depending on where you are located, you may have a legal right to receive notice of a security breach, involving your Personal Information, in writing.</p>
        <p><a href="#T">Go to Top</a></p>

        <h2 id="T9">5. PRIVACY POLICY UPDATES</h2>

        <p>This Privacy Policy will be reviewed and updated from time to time. When changes are made, the Privacy Policy will be labeled as "Revised (date)," indicating 
            that you should review the new terms, which will be effective immediately upon posting on this page, with an updated effective date. By accessing this Site 
            after any changes have been made, you accept the modified Privacy Policy and any changes contained therein. In case you miss the notification referenced 
            above, be sure to return to this page periodically to ensure familiarity with the most current version of this Privacy Policy.</p>
        <p><a href="#T">Go to Top</a></p>

        <h2 id="T10">6. CONTACT INFORMATION</h2>

        <p>If you have privacy concerns, have disclosed data you would prefer to keep private, or would like to access the Personal Information that 3iMOOX maintains 
            about you, please contact us at contact@3imoox.org.</p>
        
        <p>Cookies are unique identifiers usually in the form of small data files placed on your device that send certain information about your activity on this 
            Site or in an email communication back to 3iMOOX or the authorized third party that served the cookie. 3iMOOX or third parties may also use Flash cookies. 
            Site consists of all content and pages located within the 3iMOOX.org web domain and all mobile applications. Personal Information is information that 
            specifically identifies you or that, when combined with other information, could be used to identify you. Tracking Technologies are web beacons, clear 
            gifs, pixels, and similar technologies that are also unique identifiers used to track your online activity but are not stored on your device.</p>
        <p><b>Effective Date: 1 September 2019</b></p>

        <p><a href="#T">Go to Top</a></p>
        
    </section>
</main>