<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <head>
        <style>
        p {
          line-height: 1.5;
        }
    
        </style>
        </head>
    <section class="container about">
        <h1>
            About
        </h1>
        <p>
            3iMOOX.org (short for Stichting Foundation 3iMOOX.org) is a non-profit, public benefit organisation created by highly experienced meditators whose lives 
            have been enriched and transformed through meditation. Trained by some of the world’s most preeminent Meditation Teachers, we wish to share these 
            practices and knowledge with others.
            </p>
        <p>
            Our mission is to foster greater health and well-being by making meditation relevant to today’s challenges and accessible to anyone, anytime, anywhere.
            </p>

        <h2>What do we do?</h2>

        <p>We love meditation, it is invaluable to us. We love MOOCs; they give us the flexibility to learn when, where and how. And we love to innovate…
        </p>
        <p>The idea that we can make meditation, delivered by the best and most experienced Meditation Teachers in the world, easily accessible, fun and available 
            to millions of MOOC audiences around the world for free, is irresistible to us.
        </p>
        <p>We design and develop MOOCs together with our partners and our aim is to apply best practice in learning and teaching to enhance the learning experience 
            for all learners. 
        </p>   

        <p>We partner with other organisations who deliver meditation and meditation related courses. Our combined course delivery teams comprise of an international 
            team of instructors, who are highly accomplished Meditators and who provide essential training and guidance in meditation practice to help people create 
            lasting positive change.
        </p>

        <h2>Who are we?</h2>

        <p>Our team consists of professionals, who are seasoned meditation practitioners and meditation teachers. We personally use MOOCs for our continuing professional 
            education and we want to use MOOCs to make meditation and its benefits, more accessible and available to the general public.
        </p>
        <p>All members of the team are unpaid volunteers and do not receive salaries.
        </p>
        
        <p>RSIN: 859487544</p>  
        <p>Chamber of Commerce number: 73363839</p>
        <p>website: <a href="https://www.3imoox.org/about">www.3iMOOX.org</a></p>
        <p>Email: contact@3imoox.org</p>
    </section>
</main>