<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
<head>
<style>
p {
line-height: 1.5;
}
            
</style>
</head>    
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Terms of Service")}</%block>
        </h1>
        <p>
            Welcome to 3iMOOX. Please read these Terms of Service ("TOS") prior to registering for an account on 3iMOOX.org or using any portion of the 3iMOOX website or 
            mobile applications (collectively, the "3iMOOX Site," which consists of all content and pages located within the 3iMOOX.org web domain and all 3iMOOX mobile 
            applications), including accessing any course material, chat rooms, or other electronic services. These TOS are an agreement (the "Agreement") between you and 
            3iMOOX. By using the 3iMOOX Site, you accept and agree to be legally bound by the Agreement, whether or not you are a registered user. </p>
        <p>
            Please also read the Privacy Policy for the 3iMOOX Site before you use any portion of the 3iMOOX Site. The Privacy Policy describes how your personal data is 
            collected and processed when you use the 3iMOOX Site. If you do not understand or do not wish to be bound by the terms of the Agreements or Privacy Policy, you 
            should not use the 3iMOOX Site.</p>
        <p>
            3iMOOX reserves the right to modify these TOS at any time without advance notice. Any changes to these TOS will be effective immediately upon posting on this 
            page, with an updated effective date. By accessing the 3iMOOX Site after any changes have been made, you signify your agreement on a prospective basis to the 
            modified TOS and all of the changes. Be sure to return to this page periodically to ensure familiarity with the most current version of these TOS. 
        </p>
        <p id="T">THESE TOS ARE ORGANIZED AS FOLLOWS:
        </p>
        <ol>
            <li><a href="#T1">Rules for online conduct</a></li>
            <li><a href="#T2">Strictly prohibited items</a></li>
            <li><a href="#T3">User accounts</a></li>
            <li><a href="#T4">Your rights to use content on 3iMOOX</a></li>
            <li><a href="#T5">Site User postings</a></li>
            <li><a href="#T6">Certificates and other products & services</a></li>
            <li><a href="#T7">Trademarks</a></li>
            <li><a href="#T8">Digital Millennium Copyright Act</a></li>
            <li><a href="#T9">Disclaimers of Warranty / Limitations of Liabilities Indemnification</a></li>
            <li><a href="#T10">Indemnification</a></li>
            <li><a href="#T11">Additional Terms</a></li>
        </ol>
        <h2 id="T1">
            1. RULES FOR ONLINE CONDUCT
        </h2>
        <p> You agree that you are responsible for your own use of the 3iMOOX Site and for your User Postings. "User Postings" means all content submitted, posted, 
            published, or distributed on the 3iMOOX Site by you or other users of the 3iMOOX Site, including but not limited to all forum posts, wiki edits, notes, 
            questions, comments, videos, and file uploads. You agree that you will use the 3iMOOX Site in compliance with these Agreements, and all applicable local, 
            state, national and international laws, rules and regulations, including copyright laws, any laws regarding the transmission of technical data exported from 
            your country of residence, and all Dutch export control laws.</p>
            <p>As a condition of your use of the 3iMOOX Site, you will not use the 3iMOOX Site in any manner intended to damage, disable, overburden, or impair any 3iMOOX 
            server or the network(s) connected to any 3iMOOX server or to interfere with any other party's use and enjoyment of the 3iMOOX Site. You may not attempt to 
            gain unauthorized access to the 3iMOOX Site, other accounts, computer systems, or networks connected to any 3iMOOX server through hacking, password mining, or 
            any other means. You may not obtain or attempt to obtain any materials or information stored on the 3iMOOX Site, its servers, or associated computers through 
            any means not intentionally made available through the 3iMOOX Site. If you are a registered user, you will not share your password or let anyone else access or 
            compromise your account.
        </p>
        <p>Furthermore, you agree not to scrape, or otherwise download in bulk, any 3iMOOX Site content, including but not limited to a list or directory of users on the 
            system, User Postings or user information, online textbooks, course materials, or trademarks and logos. You agree not to misrepresent or attempt to misrepresent 
            your identity while using the 3iMOOX Site (although you are welcome and encouraged to use an anonymous username in the forums and to act in a manner that keeps 
            your identity concealed).
        </p>
        <h2 id="T2">
            2. STRICTLY PROHIBITED ITEM
        </h2>
        <p>THE FOLLOWING ITEMS ARE STRICTLY PROHIBITED ON THE 3iMOOX SITE:
        </p>
        <ul>
            <li>Content that defames, harasses or threatens others;</li>
            <li>Content that discusses illegal activities with the intent to commit them;</li>
            <li>Content that infringes another's intellectual property, including, but not limited to, copyrights or trademarks</li>
            <li>Profane, pornographic, obscene, indecent or unlawful content; </li>
            <li>Advertising or any form of commercial solicitation;</li>
            <li>Content related to partisan political activities;</li>
            <li>Viruses, trojan horses, worms, time bombs, corrupted files, malware, spyware, or any other similar software that may damage the operation of another's 
                computer or property; and</li>
            <li>Content that contains intentionally inaccurate information or that is posted with the intent of misleading others (this list, collectively, “Strictly 
                Prohibited Items”).</li>   
        </ul>
        <p>You may not submit, post, publish, share, or otherwise distribute any of the above Strictly Prohibited Items on or via the 3iMOOX Site.
        </p>
        <h2 id="T3">3. USER ACCOUNTS</h2>
        <p>In order to create a user account, you must provide your full name, an email address, a public username, and a user password. You agree that you will never 
            divulge or share access or access information for your user account with any third party for any reason. In setting up your user account, you may be 
            prompted to enter additional optional information (e.g., your year of birth). You represent that all information provided by you is accurate and current. 
            You agree to maintain and update your information to keep it accurate and current.
        </p>
        <p>We care about the confidentiality and security of your personal information. Please see the Privacy Policy for more information about the collection and use 
            of data on the 3iMOOX Site.
        </p>
        <p ><a href="#T">Go to Top</a>
        </p>
        <h2 id="T4">4. YOUR RIGHTS TO USE CONTENT ON THE 3iMOOX SITE</h2>
        <p>Unless indicated as being in the public domain, the content on the 3iMOOX Site is protected by The Netherlands and foreign copyright laws. Unless otherwise 
            expressly stated on the 3iMOOX Site, the texts, exams, video, images, and other instructional materials provided with the courses offered on the 3iMOOX Site 
            are for your personal use in connection with those courses only. We aim to make much of the 3iMOOX course content available under more open license terms that 
            will help create a vibrant ecosystem of contributors and further 3iMOOX's goal of making education accessible and affordable to the world.
        </p>
        <p>
            Certain reference documents, digital textbooks, articles, and other information on the 3iMOOX Site are used with the permission of third parties and use of 
            that information is subject to certain rules and conditions, which will be posted along with the information. By using the 3iMOOX Site, you agree to abide 
            by all such rules and conditions.
        </p>
        <p>
            You agree to retain all copyright and other notices on any content you obtain from the 3iMOOX Site. All rights in the 3iMOOX Site and its content, if not 
            expressly granted, are reserved.                
        </p>
        <p>Use for Personalization and Pedagogical Improvements. Our goal is to provide current and future visitors to the 3iMOOX Site with the best possible educational 
            experience. To further this goal, we sometimes present different users with different versions of course materials and software. We do this to personalize 
            the experience to the individual learner (to assess the learner’s level of ability and learning style, and present materials best suited to the learner), to 
            improve our understanding of the learning process, and to evaluate and improve the effectiveness of our course materials, payment models, platform features, 
            and offerings. We may publish or otherwise publicize results from this process, but, unless otherwise permitted under the Privacy Policy, those publications 
            or public disclosures will not include your personal information.
        </p>
        <p ><a href="#T">Go to Top</a>
        </p>
        <h2 id="T5">5. USER POSTINGS</h2>
        <p>User Postings Representations and Warranties. By submitting or distributing your User Postings, you affirm, represent, and warrant (1) that you have the 
            necessary rights, licenses, consents, and/or permissions to reproduce and publish the User Postings and to authorize 3iMOOX and its users to reproduce, modify, 
            publish, and otherwise use and distribute your User Postings in a manner consistent with the licenses granted by you below, and (2) that neither your submission 
            of your User Postings nor the exercise of the licenses granted below will infringe or violate the rights of any third party. You, and not 3iMOOX, are solely 
            responsible for your User Postings and the consequences of posting or publishing them.
        </p>
        <p>License Grant to 3iMOOX. By submitting or distributing your User Postings, you hereby grant to 3iMOOX a worldwide, non-exclusive, transferable, assignable, 
            sub licensable, fully paid- up, royalty-free, perpetual, irrevocable right and license to host, transfer, display, perform, reproduce, modify, distribute, 
            redistribute, relicense, and otherwise use, make available, and exploit your User Postings, in whole or in part, in any form and in any media formats and 
            through any media channels (now known or hereafter developed).
        </p>
        <p>License Grant to 3iMOOX Users. By submitting or distributing your User Postings, you hereby grant to each user of the 3iMOOX Site a non-exclusive license to 
            access and use your User Postings in connection with their use of the 3iMOOX Site for their own personal purposes.
        </p>
        <p ><a href="#T">Go to Top</a>
        </p>
        <h2 id="T6">6. CERTIFICATES AND OTHER PRODUCTS & SERVICES</h2>
        <p>Certificates. 3iMOOX and the Members may offer ID Verified Certificates of Achievement for courses (a "Verified Certificate") or certificates for programs 
            (for example, a MicroMasters program certificate) for learners who, in the Members’ judgment, have satisfactorily demonstrated mastery of the course or 
            program material. Certificates will be issued by 3iMOOX under the name of the underlying Member(s) from where the course or program originated. The decision 
            whether a certificate will be awarded to a given learner will be solely within the discretion of the awarding Member.
        </p>
        <p>No Other Enrollment. You will not be an applicant for admission to, or enrolled in, any degree or other credit- or credential-bearing program of the Member 
            as a result of registering for or completing a course or program provided by such Member through 3iMOOX. You will not be entitled to use any of the resources 
            of the Member beyond the online courses or programs provided on the 3iMOOX Site, nor will you be eligible to receive student privileges or benefits provided 
            to students enrolled in degree or other credit- or credential-bearing programs of the Member.
        </p>
        <p ><a href="#T">Go to Top</a>
        </p>
        <h2 id="T7">7. TRADEMARKS</h2>
        <p>Use of 3iMOOX, Brahma Kumaris and Other Member Names, Trademarks, and Service Marks. The "3iMOOX," "Brahma Kumaris" and other names, logos and seals are 
            trademarks ("Trademarks") of the respective entities. Likewise, the names, logos, and seals of the other Members are Trademarks owned by the respective Member. 
            You may not use any of these Trademarks, or any variations thereof, without the owner's prior written consent. You may not use any of these Trademarks, or any 
            variations thereof, for promotional purposes, or in any way that deliberately or inadvertently claims, suggests or, in the owner’s sole judgment, gives the 
            appearance or impression of a relationship with or endorsement by the owner.
        </p>
        <p>All Trademarks not owned by 3iMOOX or the Members that appear on the 3iMOOX Site or on or through the services made available on or through the 3iMOOX Site, 
            if any, are the property of their respective owners.
        </p>
        <p>Nothing contained on the 3iMOOX Site should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any Trademark 
            displayed on the 3iMOOX Site without the written permission of the owner of the applicable Trademark.
        </p>
        <p ><a href="#T">Go to Top</a>
        </p>
        <h2 id="T8">8. DIGITAL MILLENNIUM COPYRIGHT ACT</h2>
        <p>Copyright owners who believe their material has been infringed on the 3iMOOX Site should contact edX's designated copyright agent at contact@3imoox.org.
            Notification must include:
        </p>
        <ul>
            <li>Identification of the copyrighted work, or, in the case of multiple works at the same location, a representative list of such works at that site.</li>
            <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity. You must include sufficient information for 
                us to locate the material (e.g., URL, IP address, computer name).</li>
            <li>Information for us to be able to contact the complaining party (e.g., email address, phone number).</li>
            <li>A statement that the complaining party believes that the use of the material has not been authorized by the copyright owner or an authorized agent.</li>
            <li>A statement that the information in the notification is accurate and that the complaining party is authorized to act on behalf of the copyright owner.</li>
        </ul>
        <p ><a href="#T">Go to Top</a>
        </p>
        <h2 id="T9">9. DISCLAIMERS OF WARRANTY / LIMITATIONS OF LIABILITIES</h2>
        <p>
            THE 3iMOOX SITE AND ANY INFORMATION, CONTENT OR SERVICES MADE AVAILABLE ON OR THROUGH THE 3iMOOX SITE ARE PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT WARRANTY 
            OF ANY KIND (EXPRESS, IMPLIED OR OTHERWISE), INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND 
            NON-INFRINGEMENT, EXCEPT INSOFAR AS ANY SUCH IMPLIED WARRANTIES MAY NOT BE DISCLAIMED UNDER APPLICABLE LAW.
        </p>
        <p>3iMOOX AND THE 3iMOOX PARTICIPANTS (AS HEREINAFTER DEFINED) DO NOT WARRANT THAT THE 3iMOOX SITE WILL OPERATE IN AN UNINTERRUPTED OR ERROR-FREE MANNER, THAT THE 
            3iMOOX SITE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS, OR THAT THE COURSES OR CONTENT PROVIDED WILL MEET YOUR NEEDS OR EXPECTATIONS. 3iMOOX AND THE 3iMOOX
            PARTICIPANTS ALSO MAKE NO WARRANTY ABOUT THE ACCURACY, COMPLETENESS, TIMELINESS, OR QUALITY OF THE 3iMOOX SITE OR ANY COURSES OR CONTENT, OR THAT ANY PARTICULAR 
            COURSES OR CONTENT WILL CONTINUE TO BE MADE AVAILABLE. “3iMOOX PARTICIPANTS” MEANS THE BRAHMA KUMARIS CENTRES FOR SPIRITUAL LEARNING INC, THE OTHER MEMBERS, 
            THE ENTITIES PROVIDING INFORMATION, CONTENT, OR SERVICES FOR THE 3iMOOX SITE, THE COURSE INSTRUCTORS, AND THEIR STAFF.
        </p>
        <p>USE OF THE 3iMOOX SITE, AND THE CONTENT AND SERVICES OBTAINED FROM OR THROUGH THE 3iMOOX SITE, IS AT YOUR OWN RISK. YOUR ACCESS TO OR DOWNLOAD OF INFORMATION, 
            MATERIALS, OR DATA THROUGH THE 3iMOOX SITE OR ANY REFERENCE SITES IS AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR 
            PROPERTY (INCLUDING YOUR COMPUTER SYSTEM) OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OR USE OF SUCH MATERIAL OR DATA, UNLESS OTHERWISE EXPRESSLY PROVIDED 
            FOR IN THE PRIVACY POLICY.
        </p>
        <p>User Postings Disclaimer. You understand that when using the 3iMOOX Site you will be exposed to User Postings from a variety of sources and that neither 3iMOOX 
            nor the 3iMOOX Participants are responsible for the accuracy, usefulness, reliability or intellectual property rights of or relating to such User Postings. You 
            further understand and acknowledge that you may be exposed to User Postings that are inaccurate, offensive, defamatory, indecent or objectionable and you agree 
            to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against 3iMOOX or any of the 3iMOOX Participants with respect 
            thereto. Neither 3iMOOX nor any of the 3iMOOX Participants endorse any User Postings or any opinion, recommendation or advice expressed therein. 
            Neither 3iMOOX nor any of the 3iMOOX Participants have any obligation to monitor any User Postings or any other user communications through the 3iMOOX Site.
        </p>
        <p>However, 3iMOOX reserves the right to review User Postings and to exercise its sole discretion to edit or remove, in whole or in part, any User Posting at any 
            time and for any reason, or to allow the 3iMOOX Participants to do so. Without limiting the foregoing, upon receiving notice from a user or a content owner 
            that a User Posting allegedly does not conform to these TOS, 3iMOOX may investigate the allegation and determine in its sole discretion whether to remove the 
            User Posting, which it reserves the right to do at any time and without notice.
        </p>
        <p>Links to Other Websites. The 3iMOOX Site may include hyperlinks to websites maintained or controlled by others. 3iMOOX and the 3iMOOX Participants are not 
            responsible for and do not routinely screen, approve, review or endorse the contents of or use of any of the products or services that may be offered at 
            these websites. If you decide to access linked third-party websites, you do so at your own risk.
        </p>
        <p>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, YOU AGREE THAT NEITHER 3iMOOX NOR ANY OF THE 3iMOOX PARTICIPANTS WILL BE LIABLE TO YOU FOR ANY LOSS OR DAMAGES,
            EITHER ACTUAL OR CONSEQUENTIAL, ARISING OUT OF OR RELATING TO THESE TERMS OF SERVICE, OR YOUR (OR ANY THIRD PARTY'S) USE OF OR INABILITY TO USE THE 3iMOOX SITE, 
            OR YOUR PLACEMENT OF CONTENT ON THE 3iMOOX SITE, OR YOUR RELIANCE UPON INFORMATION OBTAINED FROM OR THROUGH THE 3iMOOX SITE, WHETHER YOUR CLAIM IS BASED IN 
            CONTRACT, TORT, STATUTORY OR OTHER LAW. 
            IN PARTICULAR, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, NEITHER 3iMOOX NOR ANY OF THE 3iMOOX PARTICIPANTS WILL HAVE ANY LIABILITY FOR ANY CONSEQUENTIAL, 
            INDIRECT, PUNITIVE, SPECIAL, EXEMPLARY, OR INCIDENTAL DAMAGES, WHETHER FORESEEABLE OR UNFORESEEABLE AND WHETHER OR NOT 3iMOOX OR ANY OF THE 3iMOOX PARTICIPANTS
            HAS BEEN NEGLIGENT OR OTHERWISE AT FAULT (INCLUDING, BUT NOT LIMITED TO, CLAIMS FOR DEFAMATION, ERRORS, LOSS OF PROFITS, LOSS OF DATA, OR INTERRUPTION IN 
            AVAILABILITY OF DATA).
            CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF 
            THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.
        </p>
        <p ><a href="#T">Go to Top</a>
        </p>
        <h2 id="T10">10. INDEMNIFICATION</h2>
        <p>You agree to defend, hold harmless, and indemnify 3iMOOX and the 3iMOOX Participants, and their respective subsidiaries, affiliates, officers, faculty, students, 
            fellows, governing board members, agents and employees from and against any third-party claims, actions, or demands arising out of, resulting from or in any way 
            related to your use of the 3iMOOX Site, including any liability or expense arising from any and all claims, losses, damages (actual and consequential), suits, 
            judgments, litigation costs, and attorneys' fees, of every kind and nature. In such a case, 3iMOOX or the applicable 3iMOOX Participant will provide you with 
            written notice of such claim, suit, or action.
        </p>
        <h2 id="T11">11. ADDITIONAL TERMS</h2>
        <p>Termination Rights; Discontinuation of Courses and Content. You agree that 3iMOOX, in its sole discretion, may terminate your use of the 3iMOOX Site or your 
            participation in it, for any reason or no reason, upon notice to you. It is edX's policy to terminate in appropriate circumstances the accounts of users of 
            the 3iMOOX Site who are repeat copyright infringers. 3iMOOX and the 3iMOOX Participants reserve the right at any time in their sole discretion to cancel, delay, 
            reschedule or alter the format of any course offered through 3iMOOX, or to cease providing any part or all of the 3iMOOX Site content or related services, and 
            you agree that neither 3iMOOX nor any of the 3iMOOX Participants will have any liability to you for such an action. If you no longer desire to participate in 
            the 3iMOOX Site, you may terminate your participation at any time. The rights granted to you hereunder will terminate upon any termination of your right to use 
            the 3iMOOX Site, but the other provisions of the Agreements will survive any such termination.
        </p>
        <p>Entire Agreement. The Agreements constitute the entire agreement between you and 3iMOOX with respect to your use of the 3iMOOX Site, superseding any prior 
            agreements between you and 3iMOOX regarding your use of the 3iMOOX Site.
        </p>
        <p>Waiver and Severability. The failure of 3iMOOX to exercise or enforce any right or provision of the Agreements shall not constitute a waiver of such right or 
            provision. If any provision of the Agreements is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should 
            endeavor to give effect to the parties' intentions as reflected in the provision and the other provisions of the Agreements shall remain in full force and 
            effect.
        </p>
        <p>Choice of Law/Forum Selection. You agree that the Agreements and any claim or dispute arising out of or relating to the Agreements or any content or service 
            obtained from or through the 3iMOOX Site will be governed by the laws of the Netherlands excluding its conflicts of law provisions. You agree that all such 
            claims and disputes will be heard and resolved exclusively in the federal or state courts located in and serving The Netherlands. You consent to the personal 
            jurisdiction of those courts over you for this purpose, and you waive and agree not to assert any objection to such proceedings in those courts (including any
            defense or objection of lack of proper jurisdiction or venue or inconvenience of forum).
        </p>
        <p>Effective date: 1 September 2019</p>
        <p ><a href="#T">Go to Top</a>
        </p>


    </section>
</main>